.cart-dropdown {
  position: absolute;
  width: 24rem;
  height: 34rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid black;
  background-color: white;
  top: 7.8rem;
  right: 4rem;
  z-index: 5;

  .cart-items {
    height: 24rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .empty-cart-msg {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      align-self: center;
      font-size: 1.4rem;
    }
  }

  button {
    margin-top: auto;
  }
}
