.form-input {
  position: relative;
  margin-bottom: 3.5rem;

  input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 2rem;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 0.5rem;
    background: transparent;
    font-family: inherit;
    color: #fff;

    &:-webkit-autofill + label,
    &:focus + label,
    &:not(:placeholder-shown) + label {
      top: -2rem;
      left: -0.5rem;
      color: #eac989;
      font-size: 1.4rem;
      font-weight: 400;
    }
    &:invalid:not(:focus):not(:placeholder-shown):not(:-webkit-autofill) {
      border-bottom: 1px solid #ff6666;
    }
    &:valid:not(:focus) {
      border-bottom: 1px solid #fce6a9;
    }
    &:-webkit-autofill {
      -webkit-text-fill-color: rgb(255, 255, 255);
      -webkit-box-shadow: 0 0 0px 1000px rgb(0, 0, 0) inset;
      box-shadow: 0 0 0px 1000px rgb(0, 0, 0) inset;
      border-bottom: 1px solid #ffffff;
    }
  }

  label {
    top: 0;
    left: 0;
    position: absolute;
    padding: 0.5rem;
    font-size: 2rem;
    font-family: inherit;
    pointer-events: none;
    transition: all 0.2s ease;
    color: rgb(128, 128, 128);
  }
}
