.checkout-page {
  width: 100%;
  min-height: calc(100% - 7.5rem);
  background-color: #f7f7f7;
  padding: 5rem 0 5rem 0;

  .checkout-container {
    width: 55%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    .checkout-header {
      width: 100%;
      padding: 1rem 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
      overflow: hidden;
      flex-shrink: 0;

      .header-column-title {
        text-transform: capitalize;
        width: 22%;
        font-size: 1.5rem;

        &:last-child {
          width: 12%;
          text-align: right;
        }
      }
    }

    .cart-items-container {
      max-height: 60rem;
      overflow-y: auto;
      width: 100%;
    }

    .total {
      margin-top: 3rem;
      margin-left: auto;
      font-size: 3rem;
    }
  }
}
